#card{
    background-color: white;
    width: 450px;
    height:700px;
    box-shadow: 0 25px 50px -12px hsl(225, 90%, 85%);
}
body{
    background-color: hsl(225, 100%, 94%);
}
@media(max-width:768px){
    #card{
        height: 568px;
        width: 320px;
    }
    #header-text{
        font-size: 22px;
    }
    #content-text{
        font-size: 15px;
        
    }
    #plan-price{
        font-size: 14px;
    }
    #plan-change{
        font-size: 13px;
    }
    .App{
        background: url('pattern-background-mobile.svg') no-repeat;
        background-size: contain;
        background-color: hsl(225, 100%, 94%);
    }
}
body{
    background: url('pattern-background-desktop.svg') no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
}
.App{
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  
  min-width: 340px;
  min-height: 700px;
  
}
footer{
    min-width: 340px;
    min-height: 700px; 
}
#plan{
    background-color: hsl(225, 100%, 98%);
}
footer,#content-text,#plan-text,#cancel{
    color: hsl(224, 23%, 55%);
}
#payment{
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    box-shadow: 0 25px 45px -13px hsl(245, 75%, 73%);
}
#plan-header,#header-text{
    color: hsl(223, 47%, 23%);
}
#plan-change{
    color:  hsl(245, 75%, 52%);
}
#cancel:hover{
    color: hsl(223, 47%, 23%);
}
#payment:hover{
    background-color: rgba(118,108,241,255);
}
#plan-change:hover{
    text-decoration: none;
    color: rgba(118,108,241,255);
}